In [39]:
#import dependencies
import pandas as pd
import numpy as np
import os
import gmaps
import json
import requests
from pprint import pprint
import us

#import API key
from config import gkey, weather_api_key

In [68]:
#read the sunshine csv file into a dataframe
sunshine_df = pd.read_csv(os.path.join("..","potential_data_sets","NOAA_Sunshine_AveragePercentPossible.csv"))
sunshine_df

,CITY,STATE,ANNUAL % AVG POSSIBLE SUNSHINE,NO. OF YEARS OF DATA
0,YUMA,AZ,90%,42
1,REDDING,CA,88%,10
2,LAS VEGAS,NV,85%,47
3,PHOENIX,AZ,85%,101
4,TUCSON,AZ,85%,53
...,...,...,...,...
169,"POHNPEI, MICRONESIA",PC,41%,44
170,ELKINS,WV,40%,11
171,MT. WASHINGTON,NH,33%,64
172,QUILLAYUTE,WA,33%,30
173,JUNEAU,AK,30%,33

In [69]:
#check the datatypes
sunshine_df.dtypes

CITY                              object
STATE                             object
ANNUAL % AVG POSSIBLE SUNSHINE    object
NO. OF YEARS OF DATA               int64
dtype: object

In [70]:
#strip the % column of the % symbol and convert to float
sunshine_df["ANNUAL % AVG POSSIBLE SUNSHINE"] = sunshine_df["ANNUAL % AVG POSSIBLE SUNSHINE"].map(lambda x: x.rstrip('%'))
sunshine_df["ANNUAL % AVG POSSIBLE SUNSHINE"] = sunshine_df["ANNUAL % AVG POSSIBLE SUNSHINE"].astype(float)
sunshine_df

,CITY,STATE,ANNUAL % AVG POSSIBLE SUNSHINE,NO. OF YEARS OF DATA
0,YUMA,AZ,90.0,42
1,REDDING,CA,88.0,10
2,LAS VEGAS,NV,85.0,47
3,PHOENIX,AZ,85.0,101
4,TUCSON,AZ,85.0,53
...,...,...,...,...
169,"POHNPEI, MICRONESIA",PC,41.0,44
170,ELKINS,WV,40.0,11
171,MT. WASHINGTON,NH,33.0,64
172,QUILLAYUTE,WA,33.0,30
173,JUNEAU,AK,30.0,33

In [71]:
#credit to: https://code.activestate.com/recipes/577305-python-dictionary-of-us-states-and-territories/
#dictionary of state abbreviations:
states_dict = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [72]:
# #convert state to full state name

#displays 'AZ'
# sunshine_df['STATE'][0]

#errors out saying: module 'us.states' has no attribute 'sunshine_df'
# us.states.sunshine_df['STATE'][0].name

#displays 'Arizona'
# us.states.AZ.name

In [83]:
#JB's help/idea for a solution

#still didn't work, returning "module 'us.states' has no attribute 'short'" error
# shorts = sunshine_df['STATE']
# full_names = []
# for short in shorts:
#     full_name = us.states.short.name
#     full_names.append(full_name)

# full_names

In [73]:
#mannually clean the data set - we don't know how to web scrape yet
stateNames_df = pd.read_csv(os.path.join("..","potential_data_sets","50_us_states_all_data.csv"))
stateNames_df.head()

  CAPS STATE NAME TITLE STATE NAME 2 LETTER ABBREVIATION ABBREV.
0         ALABAMA          Alabama                    AL    Ala.
1          ALASKA           Alaska                    AK  Alaska
2         ARIZONA          Arizona                    AZ   Ariz.
3        ARKANSAS         Arkansas                    AR    Ark.
4      CALIFORNIA       California                    CA  Calif.

In [74]:
#join the two dataframes
cleanSunshine_df = pd.merge(sunshine_df,stateNames_df,how='left',left_on="STATE",right_on="2 LETTER ABBREVIATION")
#clean up formatting
del cleanSunshine_df['STATE']
del cleanSunshine_df['CAPS STATE NAME']
del cleanSunshine_df['2 LETTER ABBREVIATION']
del cleanSunshine_df['ABBREV.']
cleanSunshine_df = cleanSunshine_df.rename(columns={"TITLE STATE NAME":"STATE"})
cleanSunshine_df = cleanSunshine_df.dropna().reset_index(drop=True)
cleanSunshine_df

,CITY,ANNUAL % AVG POSSIBLE SUNSHINE,NO. OF YEARS OF DATA,STATE
0,YUMA,90.0,42,Arizona
1,REDDING,88.0,10,California
2,LAS VEGAS,85.0,47,Nevada
3,PHOENIX,85.0,101,Arizona
4,TUCSON,85.0,53,Arizona
...,...,...,...,...
156,HILO,41.0,52,Hawaii
157,ELKINS,40.0,11,West Virginia
158,MT. WASHINGTON,33.0,64,New Hampshire
159,QUILLAYUTE,33.0,30,Washington
160,JUNEAU,30.0,33,Alaska

In [76]:
#weather api information
# api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}&appid={API key}
url_currentWeather = "http://api.openweathermap.org/data/2.5/weather?"
units = "imperial"

#find the latitude and longitude of the cities
lat = []
lng = []

#loop through the cities_df to retrieve the weather information
for index, row in cleanSunshine_df.iterrows():
    currentCity = row["CITY"]
    currentState = row["STATE"]
    query_url = f"{url_currentWeather}q={currentCity},{currentState}&units={units}&appid={weather_api_key}"
    response = requests.get(query_url).json()
    
    try:
        lat.append(response["coord"]["lat"])
        lng.append(response["coord"]["lon"])
        print(f"Processeing Record | {currentCity}\n{query_url}")
    except:
        lat.append(np.nan)
        lng.append(np.nan)
        print(f"City not found. Skipping {currentCity}...\n{query_url}")

#update latitude and longitude to actually match the city
cleanSunshine_df["Latitude"] = lat
cleanSunshine_df["Longitude"] = lng

Processeing Record | YUMA
http://api.openweathermap.org/data/2.5/weather?q=YUMA,Arizona&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | REDDING
http://api.openweathermap.org/data/2.5/weather?q=REDDING,California&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | LAS VEGAS
http://api.openweathermap.org/data/2.5/weather?q=LAS VEGAS,Nevada&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | PHOENIX
http://api.openweathermap.org/data/2.5/weather?q=PHOENIX,Arizona&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | TUCSON
http://api.openweathermap.org/data/2.5/weather?q=TUCSON,Arizona&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | EL PASO
http://api.openweathermap.org/data/2.5/weather?q=EL PASO,Texas&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | FRESNO
http://api.openweathermap.org/data/2.5/weather?q=FRESNO,California&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | RENO
http://api.openweathermap.org/data/2.5/weather?q=RENO,Nevada&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | FLAGSTAFF
http://api.openweathermap.org/data/2.5/weather?q=FLAGSTAFF,Arizona&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | SACRAMENTO
http://api.openweathermap.org/data/2.5/weather?q=SACRAMENTO,California&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | ALBUQUERQUE
http://api.openweathermap.org/data/2.5/weather?q=ALBUQUERQUE,New Mexico&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | KEY WEST
http://api.openweathermap.org/data/2.5/weather?q=KEY WEST,Florida&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | PUEBLO
http://api.openweathermap.org/data/2.5/weather?q=PUEBLO,Colorado&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
City not found. Skipping MIDLAND-ODESSA...
http://api.openweathermap.org/data/2.5/weather?q=MIDLAND-ODESSA,Texas&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | ROSWELL
http://api.openweathermap.org/data/2.5/weather?q=ROSWELL,New Mexico&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | AMARILLO
http://api.openweathermap.org/data/2.5/weather?q=AMARILLO,Texas&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | ELY
http://api.openweathermap.org/data/2.5/weather?q=ELY,Nevada&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | LOS ANGELES
http://api.openweathermap.org/data/2.5/weather?q=LOS ANGELES,California&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | LAKE CHARLES
http://api.openweathermap.org/data/2.5/weather?q=LAKE CHARLES,Louisiana&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | LUBBOCK
http://api.openweathermap.org/data/2.5/weather?q=LUBBOCK,Texas&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | NORTH LITTLE ROCK
http://api.openweathermap.org/data/2.5/weather?q=NORTH LITTLE ROCK,Arkansas&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | GRAND JUNCTION
http://api.openweathermap.org/data/2.5/weather?q=GRAND JUNCTION,Colorado&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | HONOLULU
http://api.openweathermap.org/data/2.5/weather?q=HONOLULU,Hawaii&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | ABILENE
http://api.openweathermap.org/data/2.5/weather?q=ABILENE,Texas&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | DODGE CITY
http://api.openweathermap.org/data/2.5/weather?q=DODGE CITY,Kansas&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | MIAMI
http://api.openweathermap.org/data/2.5/weather?q=MIAMI,Florida&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | MILFORD
http://api.openweathermap.org/data/2.5/weather?q=MILFORD,Utah&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | DENVER
http://api.openweathermap.org/data/2.5/weather?q=DENVER,Colorado&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | LANDER
http://api.openweathermap.org/data/2.5/weather?q=LANDER,Wyoming&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | OKLAHOMA CITY
http://api.openweathermap.org/data/2.5/weather?q=OKLAHOMA CITY,Oklahoma&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | SAN DIEGO
http://api.openweathermap.org/data/2.5/weather?q=SAN DIEGO,California&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | WINNEMUCCA
http://api.openweathermap.org/data/2.5/weather?q=WINNEMUCCA,Nevada&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | CONCORDIA
http://api.openweathermap.org/data/2.5/weather?q=CONCORDIA,Kansas&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | KAHULUI
http://api.openweathermap.org/data/2.5/weather?q=KAHULUI,Hawaii&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | NORTH PLATTE
http://api.openweathermap.org/data/2.5/weather?q=NORTH PLATTE,Nebraska&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | APALACHICOLA
http://api.openweathermap.org/data/2.5/weather?q=APALACHICOLA,Florida&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | CHEYENNE
http://api.openweathermap.org/data/2.5/weather?q=CHEYENNE,Wyoming&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | MACON
http://api.openweathermap.org/data/2.5/weather?q=MACON,Georgia&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | SALT LAKE CITY
http://api.openweathermap.org/data/2.5/weather?q=SALT LAKE CITY,Utah&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | SAN FRANCISCO
http://api.openweathermap.org/data/2.5/weather?q=SAN FRANCISCO,California&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | TAMPA
http://api.openweathermap.org/data/2.5/weather?q=TAMPA,Florida&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | VALENTINE
http://api.openweathermap.org/data/2.5/weather?q=VALENTINE,Nebraska&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | WICHITA
http://api.openweathermap.org/data/2.5/weather?q=WICHITA,Kansas&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | BOISE
http://api.openweathermap.org/data/2.5/weather?q=BOISE,Idaho&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | COLUMBIA
http://api.openweathermap.org/data/2.5/weather?q=COLUMBIA,South Carolina&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | MEMPHIS
http://api.openweathermap.org/data/2.5/weather?q=MEMPHIS,Tennessee&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | POCATELLO
http://api.openweathermap.org/data/2.5/weather?q=POCATELLO,Idaho&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | SHREVEPORT
http://api.openweathermap.org/data/2.5/weather?q=SHREVEPORT,Louisiana&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | TUPELO
http://api.openweathermap.org/data/2.5/weather?q=TUPELO,Mississippi&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
City not found. Skipping CHARLESTON AP...
http://api.openweathermap.org/data/2.5/weather?q=CHARLESTON AP,South Carolina&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | HURON
http://api.openweathermap.org/data/2.5/weather?q=HURON,South Dakota&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | JACKSONVILLE
http://api.openweathermap.org/data/2.5/weather?q=JACKSONVILLE,Florida&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | RAPID CITY
http://api.openweathermap.org/data/2.5/weather?q=RAPID CITY,South Dakota&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | RICHMOND
http://api.openweathermap.org/data/2.5/weather?q=RICHMOND,Virginia&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14

Processeing Record | SHERIDAN
http://api.openweathermap.org/data/2.5/weather?q=SHERIDAN,Wyoming&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | WILMINGTON
http://api.openweathermap.org/data/2.5/weather?q=WILMINGTON,North Carolina&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | CHARLOTTE
http://api.openweathermap.org/data/2.5/weather?q=CHARLOTTE,North Carolina&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | GALVESTON
http://api.openweathermap.org/data/2.5/weather?q=GALVESTON,Texas&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | LITTLE ROCK
http://api.openweathermap.org/data/2.5/weather?q=LITTLE ROCK,Arkansas&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | SAVANNAH
http://api.openweathermap.org/data/2.5/weather?q=SAVANNAH,Georgia&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | TULSA
http://api.openweathermap.org/data/2.5/weather?q=TULSA,Oklahoma&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | CAIRO
http://api.openweathermap.org/data/2.5/weather?q=CAIRO,Illinois&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
City not found. Skipping DALLAS-FORT WORTH...
http://api.openweathermap.org/data/2.5/weather?q=DALLAS-FORT WORTH,Texas&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | FORT SMITH
http://api.openweathermap.org/data/2.5/weather?q=FORT SMITH,Arkansas&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | GREAT FALLS
http://api.openweathermap.org/data/2.5/weather?q=GREAT FALLS,Montana&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | JACKSON
http://api.openweathermap.org/data/2.5/weather?q=JACKSON,Mississippi&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | LINCOLN
http://api.openweathermap.org/data/2.5/weather?q=LINCOLN,Nebraska&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | SIOUX CITY
http://api.openweathermap.org/data/2.5/weather?q=SIOUX CITY,Iowa&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | TOPEKA
http://api.openweathermap.org/data/2.5/weather?q=TOPEKA,Kansas&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | ATLANTA
http://api.openweathermap.org/data/2.5/weather?q=ATLANTA,Georgia&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
City not found. Skipping AUSTIN/BERGSTROM...
http://api.openweathermap.org/data/2.5/weather?q=AUSTIN/BERGSTROM,Texas&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
City not found. Skipping AUSTIN/CITY...
http://api.openweathermap.org/data/2.5/weather?q=AUSTIN/CITY,Texas&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | BILLINGS
http://api.openweathermap.org/data/2.5/weather?q=BILLINGS,Montana&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | BROWNSVILLE
http://api.openweathermap.org/data/2.5/weather?q=BROWNSVILLE,Texas&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
City not found. Skipping CAPE HATTERAS...
http://api.openweathermap.org/data/2.5/weather?q=CAPE HATTERAS,North Carolina&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | CORPUS CHRISTI
http://api.openweathermap.org/data/2.5/weather?q=CORPUS CHRISTI,Texas&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
City not found. Skipping GREENSBORO-WNSTN-SALM...
http://api.openweathermap.org/data/2.5/weather?q=GREENSBORO-WNSTN-SALM,North Carolina&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
City not found. Skipping GREENVILLE-SPARTANBURG AP...
http://api.openweathermap.org/data/2.5/weather?q=GREENVILLE-SPARTANBURG AP,South Carolina&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | KANSAS CITY
http://api.openweathermap.org/data/2.5/weather?q=KANSAS CITY,Missouri&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | NORFOLK
http://api.openweathermap.org/data/2.5/weather?q=NORFOLK,Virginia&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | OMAHA
http://api.openweathermap.org/data/2.5/weather?q=OMAHA,Nebraska&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | PENSACOLA
http://api.openweathermap.org/data/2.5/weather?q=PENSACOLA,Florida&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | SAN ANTONIO
http://api.openweathermap.org/data/2.5/weather?q=SAN ANTONIO,Texas&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | SPRINGFIELD
http://api.openweathermap.org/data/2.5/weather?q=SPRINGFIELD,Missouri&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | WILLISTON
http://api.openweathermap.org/data/2.5/weather?q=WILLISTON,North Dakota&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | ASHEVILLE
http://api.openweathermap.org/data/2.5/weather?q=ASHEVILLE,North Carolina&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | BISMARCK
http://api.openweathermap.org/data/2.5/weather?q=BISMARCK,North Dakota&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | DES MOINES
http://api.openweathermap.org/data/2.5/weather?q=DES MOINES,Iowa&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | EVANSVILLE
http://api.openweathermap.org/data/2.5/weather?q=EVANSVILLE,Indiana&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | FORT WAYNE
http://api.openweathermap.org/data/2.5/weather?q=FORT WAYNE,Indiana&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | HELENA
http://api.openweathermap.org/data/2.5/weather?q=HELENA,Montana&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | HOUSTON
http://api.openweathermap.org/data/2.5/weather?q=HOUSTON,Texas&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | LYNCHBURG
http://api.openweathermap.org/data/2.5/weather?q=LYNCHBURG,Virginia&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
City not found. Skipping BIRMINGHAM AP...
http://api.openweathermap.org/data/2.5/weather?q=BIRMINGHAM AP,Alabama&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | BOSTON
http://api.openweathermap.org/data/2.5/weather?q=BOSTON,Massachusetts&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | HARRISBURG
http://api.openweathermap.org/data/2.5/weather?q=HARRISBURG,Pennsylvania&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | LIHUE
http://api.openweathermap.org/data/2.5/weather?q=LIHUE,Hawaii&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
City not found. Skipping MINNEAPOLIS-ST.PAUL...
http://api.openweathermap.org/data/2.5/weather?q=MINNEAPOLIS-ST.PAUL,Minnesota&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | MONTGOMERY
http://api.openweathermap.org/data/2.5/weather?q=MONTGOMERY,Alabama&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
City not found. Skipping NEW YORK C.PARK...
http://api.openweathermap.org/data/2.5/weather?q=NEW YORK C.PARK,New York&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | PORT ARTHUR
http://api.openweathermap.org/data/2.5/weather?q=PORT ARTHUR,Texas&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | PROVIDENCE
http://api.openweathermap.org/data/2.5/weather?q=PROVIDENCE,Rhode Island&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | RALEIGH
http://api.openweathermap.org/data/2.5/weather?q=RALEIGH,North Carolina&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | SPRINGFIELD
http://api.openweathermap.org/data/2.5/weather?q=SPRINGFIELD,Illinois&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | BALTIMORE
http://api.openweathermap.org/data/2.5/weather?q=BALTIMORE,Maryland&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | BIRMINGHAM
http://api.openweathermap.org/data/2.5/weather?q=BIRMINGHAM,Alabama&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | CHATTANOOGA
http://api.openweathermap.org/data/2.5/weather?q=CHATTANOOGA,Tennessee&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14

Processeing Record | FARGO
http://api.openweathermap.org/data/2.5/weather?q=FARGO,North Dakota&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
City not found. Skipping MIDDLETOWN/HARRISBURG AP...
http://api.openweathermap.org/data/2.5/weather?q=MIDDLETOWN/HARRISBURG AP,Pennsylvania&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | NEW ORLEANS
http://api.openweathermap.org/data/2.5/weather?q=NEW ORLEANS,Louisiana&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | PORTLAND
http://api.openweathermap.org/data/2.5/weather?q=PORTLAND,Maine&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | ST. LOUIS
http://api.openweathermap.org/data/2.5/weather?q=ST. LOUIS,Missouri&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
City not found. Skipping ATLANTIC CITY AP...
http://api.openweathermap.org/data/2.5/weather?q=ATLANTIC CITY AP,New Jersey&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | COLUMBIA
http://api.openweathermap.org/data/2.5/weather?q=COLUMBIA,Missouri&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | HARTFORD
http://api.openweathermap.org/data/2.5/weather?q=HARTFORD,Connecticut&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | KNOXVILLE
http://api.openweathermap.org/data/2.5/weather?q=KNOXVILLE,Tennessee&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | LOUISVILLE
http://api.openweathermap.org/data/2.5/weather?q=LOUISVILLE,Kentucky&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | NASHVILLE
http://api.openweathermap.org/data/2.5/weather?q=NASHVILLE,Tennessee&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | PEORIA
http://api.openweathermap.org/data/2.5/weather?q=PEORIA,Illinois&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | PHILADELPHIA
http://api.openweathermap.org/data/2.5/weather?q=PHILADELPHIA,Pennsylvania&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | INDIANAPOLIS
http://api.openweathermap.org/data/2.5/weather?q=INDIANAPOLIS,Indiana&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | MISSOULA
http://api.openweathermap.org/data/2.5/weather?q=MISSOULA,Montana&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | MOLINE
http://api.openweathermap.org/data/2.5/weather?q=MOLINE,Illinois&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | CHICAGO
http://api.openweathermap.org/data/2.5/weather?q=CHICAGO,Illinois&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | CONCORD
http://api.openweathermap.org/data/2.5/weather?q=CONCORD,New Hampshire&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | GREEN BAY
http://api.openweathermap.org/data/2.5/weather?q=GREEN BAY,Wisconsin&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | MADISON
http://api.openweathermap.org/data/2.5/weather?q=MADISON,Wisconsin&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | MILWAUKEE
http://api.openweathermap.org/data/2.5/weather?q=MILWAUKEE,Wisconsin&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | SPOKANE
http://api.openweathermap.org/data/2.5/weather?q=SPOKANE,Washington&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | ALBANY
http://api.openweathermap.org/data/2.5/weather?q=ALBANY,New York&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | ALLENTOWN
http://api.openweathermap.org/data/2.5/weather?q=ALLENTOWN,Pennsylvania&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | DAYTON
http://api.openweathermap.org/data/2.5/weather?q=DAYTON,Ohio&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | DETROIT
http://api.openweathermap.org/data/2.5/weather?q=DETROIT,Michigan&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | BLUE HILL
http://api.openweathermap.org/data/2.5/weather?q=BLUE HILL,Massachusetts&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | DULUTH
http://api.openweathermap.org/data/2.5/weather?q=DULUTH,Minnesota&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | TOLEDO
http://api.openweathermap.org/data/2.5/weather?q=TOLEDO,Ohio&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | AVOCA
http://api.openweathermap.org/data/2.5/weather?q=AVOCA,Pennsylvania&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | LANSING
http://api.openweathermap.org/data/2.5/weather?q=LANSING,Michigan&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | ROCHESTER
http://api.openweathermap.org/data/2.5/weather?q=ROCHESTER,New York&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | COLUMBUS
http://api.openweathermap.org/data/2.5/weather?q=COLUMBUS,Ohio&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
City not found. Skipping GREATER CINCINNATI AP...
http://api.openweathermap.org/data/2.5/weather?q=GREATER CINCINNATI AP,Kentucky&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | MARQUETTE
http://api.openweathermap.org/data/2.5/weather?q=MARQUETTE,Michigan&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | BINGHAMTON
http://api.openweathermap.org/data/2.5/weather?q=BINGHAMTON,New York&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | BURLINGTON
http://api.openweathermap.org/data/2.5/weather?q=BURLINGTON,Vermont&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | CLEVELAND
http://api.openweathermap.org/data/2.5/weather?q=CLEVELAND,Ohio&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | ALPENA
http://api.openweathermap.org/data/2.5/weather?q=ALPENA,Michigan&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | BUFFALO
http://api.openweathermap.org/data/2.5/weather?q=BUFFALO,New York&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | PORTLAND
http://api.openweathermap.org/data/2.5/weather?q=PORTLAND,Oregon&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | SAULT STE. MARIE
http://api.openweathermap.org/data/2.5/weather?q=SAULT STE. MARIE,Michigan&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
City not found. Skipping SEATTLE SEA-TAC AP...
http://api.openweathermap.org/data/2.5/weather?q=SEATTLE SEA-TAC AP,Washington&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | GRAND RAPIDS
http://api.openweathermap.org/data/2.5/weather?q=GRAND RAPIDS,Michigan&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | SYRACUSE
http://api.openweathermap.org/data/2.5/weather?q=SYRACUSE,New York&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | PITTSBURGH
http://api.openweathermap.org/data/2.5/weather?q=PITTSBURGH,Pennsylvania&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | SEATTLE
http://api.openweathermap.org/data/2.5/weather?q=SEATTLE,Washington&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | NOME
http://api.openweathermap.org/data/2.5/weather?q=NOME,Alaska&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | ANCHORAGE
http://api.openweathermap.org/data/2.5/weather?q=ANCHORAGE,Alaska&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | HILO
http://api.openweathermap.org/data/2.5/weather?q=HILO,Hawaii&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
Processeing Record | ELKINS
http://api.openweathermap.org/data/2.5/weather?q=ELKINS,West Virginia&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
City not found. Skipping MT. WASHINGTON...
http://api.openweathermap.org/data/2.5/weather?q=MT. WASHINGTON,New Hampshire&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14
City not found. Skipping QUILLAYUTE...
http://api.openweathermap.org/data/2.5/weather?q=QUILLAYUTE,Washington&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14

Processeing Record | JUNEAU
http://api.openweathermap.org/data/2.5/weather?q=JUNEAU,Alaska&units=imperial&appid=ede721544ba8261f052c5133e7a7ee14

In [77]:
cleanSunshine_df

,CITY,ANNUAL % AVG POSSIBLE SUNSHINE,NO. OF YEARS OF DATA,STATE,Latitude,Longitude
0,YUMA,90.0,42,Arizona,32.73,-114.62
1,REDDING,88.0,10,California,40.59,-122.39
2,LAS VEGAS,85.0,47,Nevada,36.17,-115.14
3,PHOENIX,85.0,101,Arizona,33.45,-112.07
4,TUCSON,85.0,53,Arizona,32.22,-110.93
...,...,...,...,...,...,...
156,HILO,41.0,52,Hawaii,19.73,-155.09
157,ELKINS,40.0,11,West Virginia,38.93,-79.85
158,MT. WASHINGTON,33.0,64,New Hampshire,NaN,NaN
159,QUILLAYUTE,33.0,30,Washington,NaN,NaN
160,JUNEAU,30.0,33,Alaska,58.30,-134.42

In [80]:
#clean the data set of null values
sunshineLocations_df = cleanSunshine_df.dropna().reset_index(drop=True)
sunshineLocations_df

,CITY,ANNUAL % AVG POSSIBLE SUNSHINE,NO. OF YEARS OF DATA,STATE,Latitude,Longitude
0,YUMA,90.0,42,Arizona,32.73,-114.62
1,REDDING,88.0,10,California,40.59,-122.39
2,LAS VEGAS,85.0,47,Nevada,36.17,-115.14
3,PHOENIX,85.0,101,Arizona,33.45,-112.07
4,TUCSON,85.0,53,Arizona,32.22,-110.93
...,...,...,...,...,...,...
139,NOME,42.0,40,Alaska,64.50,-165.41
140,ANCHORAGE,41.0,40,Alaska,61.22,-149.90
141,HILO,41.0,52,Hawaii,19.73,-155.09
142,ELKINS,40.0,11,West Virginia,38.93,-79.85
143,JUNEAU,30.0,33,Alaska,58.30,-134.42

In [27]:
#add the heat layer to the gmap