In [1]:
import pandas as pd
import os

In [2]:
csv_path = "1990-2019_annual_GENERATION_state.csv"

In [12]:
df = pd.read_csv(csv_path,header=None)
df = df.rename(columns=df.iloc[1])
df.columns
df = df[["YEAR","STATE","TYPE OF PRODUCER","ENERGY SOURCE","GENERATION (Megawatthours)"]]
df = df.drop(df.index[[0,1]])

In [13]:
df.head()

,YEAR,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours)
2,1990,AK,Total Electric Power Industry,Total,"5,599,506"
3,1990,AK,Total Electric Power Industry,Coal,"510,573"
4,1990,AK,Total Electric Power Industry,Hydroelectric Conventional,"974,521"
5,1990,AK,Total Electric Power Industry,Natural Gas,"3,466,261"
6,1990,AK,Total Electric Power Industry,Petroleum,"497,116"