In [3]:
import pandas as pd
import os

In [4]:
csv_path = "1990-2019_annual_GENERATION_state.csv"

In [32]:
df = pd.read_csv(csv_path,header=None)
df = df.rename(columns=df.iloc[1])
df.columns
df = df[["YEAR","STATE","TYPE OF PRODUCER","ENERGY SOURCE","GENERATION (Megawatthours)"]]
df = df.drop(df.index[[0,1]])
df = df.reset_index()

In [34]:
df.head(15)

,index,YEAR,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours)
0,2,1990,AK,Total Electric Power Industry,Total,"5,599,506"
1,3,1990,AK,Total Electric Power Industry,Coal,"510,573"
2,4,1990,AK,Total Electric Power Industry,Hydroelectric Conventional,"974,521"
3,5,1990,AK,Total Electric Power Industry,Natural Gas,"3,466,261"
4,6,1990,AK,Total Electric Power Industry,Petroleum,"497,116"
5,7,1990,AK,Total Electric Power Industry,Wind,0
6,8,1990,AK,Total Electric Power Industry,Wood and Wood Derived Fuels,"151,035"
7,9,1990,AK,"Electric Generators, Electric Utilities",Total,"4,493,024"
8,10,1990,AK,"Electric Generators, Electric Utilities",Coal,"311,960"
9,11,1990,AK,"Electric Generators, Electric Utilities",Hydroelectric Conventional,"974,521"
10,12,1990,AK,"Electric Generators, Electric Utilities",Natural Gas,"2,869,638"
11,13,1990,AK,"Electric Generators, Electric Utilities",Petroleum,"336,905"
12,14,1990,AK,"Electric Generators, Electric Utilities",Wind,0
13,15,1990,AK,"Combined Heat and Power, Industrial Power",Total,"840,949"
14,16,1990,AK,"Combined Heat and Power, Industrial Power",Natural Gas,"596,623"