In [1]:
import pandas as pd
import os

In [2]:
csv_path = "1990-2019_annual_GENERATION_state.xls"

In [11]:
df = pd.read_csv(csv_path, encoding = "ISO-8859-1", header=None,sep='delimiter')

C:\Users\Michelle\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [12]:
df.head()

                                                   0
0  ÐÏà¡±á                >  þÿ\t            [...
1  M S   S a n s   S e r i f 1 
 Ü        ...
2  M S   S a n s   S e r i f 1 
 Ü        ...
3       C a l i b r i 

    "$"#,##0_);\...
4                               õÿ   ´        à  